include include/head.pug

body
	include include/preloader.pug
	- const pagename = "electro"
	include include/header.pug

	main
		// Hero Start
		.slider-area2.section-bg2(data-background="assets/img/hero/hero7.jpg")
			.slider-height2.d-flex.align-items-center
				.container
					.row
						.col-xl-12
							.hero-cap.hero-cap2.text-center
								h2 Електроенергія

		// Electro Area start
		section.electro-section
			.container
				.row
					.col-12
						h3 Нормативні документи:
						ul.unordered-list
							li
								a(href="https://zakon.rada.gov.ua/laws/show/2019-19#Text" target="_blank") Закон України «Про ринок електричної енергії»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/222-19#Text" target="_blank") Закон України «Про ліцензування видів господарської діяльності»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/1540-19#Text" target="_blank") Закон України «Про Національну комісію, що здійснює державне регулювання у сферах енергетики та комунальних послуг»
							li
								a(href="https://zakon2.rada.gov.ua/laws/show/v1469874-17" target="_blank") Постанова НКРЕКП №1469 від 27.12.2017 р. «Про затвердження Ліцензійних умов провадження господарської діяльності з постачання електричної енергії споживачу»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0307874-18#Text" target="_blank") Постанова НКРЕКП №307 від 14.03.2018 «Про затвердження Правил ринку»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0308874-18#Text" target="_blank") Постанова НКРЕКП №308 від 14.03.2018 «Про затвердження Правил ринку «на добу наперед» та внутрішньодобового ринку»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0309874-18#Text" target="_blank") Постанова НКРЕКП №309 від 14.03.2018 «Про затвердження Кодексу системи передачі»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0310874-18#Text" target="_blank") Постанова НКРЕКП №310 від 14.03.2018 «Про затвердження Кодексу систем розподілу»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0311874-18#Text" target="_blank") Постанова НКРЕКП №311 від 14.03.2018 «Про затвердження Кодексу комерційного обліку електричної енергії»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0312874-18#Text" target="_blank") Постанова НКРЕКП №312 від 14.03.2018 «Про затвердження Правил роздрібного ринку електричної енергії»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0375874-18#Text" target="_blank") Постанова НКРЕКП № 375 від 12.06.2018 р. «Про затвердження Порядку забезпечення стандартів якості електропостачання та надання компенсацій споживачам за їх недотримання»
							li
								a(href="assets/pdf/electro/Договір_постачання_електричної_енергії.docx" target="_blank") Договір постачання електричної енергії
							li
								a(href="assets/pdf/electro/Загальні_умови_електропостачання.docx" target="_blank") Загальні умови електропостачання
							li
								a(href="assets/pdf/electro/Заява_приєднання_до_Договору_постачання_електричної_енергії.pdf" target="_blank") Заява приєднання до Договору постачання електричної енергії
							li
								a(href="assets/pdf/electro/Зняття_показів_засобів_вимірювання_спожитої_електричної_енергії.docx" target="_blank") Зняття_показів_засобів_вимірювання_спожитої_електричної_енергії
							li
								a(href="assets/pdf/electro/Комерційна_пропозиція_для_споживачів_групи_А.docx" target="_blank") Комерційна_пропозиція_для_споживачів_групи_А
							li
								a(href="assets/pdf/electro/Комерційна_пропозиція_для_споживачів_групи_Б.docx" target="_blank") Комерційна_пропозиція_для_споживачів_групи_Б
							li
								a(href="assets/pdf/electro/ПЕРЕЛІК_ПОКАЗНИКІВ_ЯКОСТІ_ПОСЛУГ_З_ПОСТАЧАННЯ_ЕЛЕКТРИЧНОЇ_ЕНЕРГІЇ.docx" target="_blank") Перелік показників якості послуг з постачання електричної енергії
							li
								a(href="assets/pdf/electro/ПОРЯДОК_ЗМІНИ_ЕЛЕКТРОПОСТАЧАЛЬНИКА.docx" target="_blank") Порядок зміни електропостачальника
							li
								a(href="assets/pdf/electro/ПРАВА_СПОЖИВАЧІВ_ЕЛЕКТРИЧНОЇ_ЕНЕРГІЇ.docx" target="_blank") Права споживачів електричної енергії
							li
								a(href="assets/pdf/electro/Порядок_припинення_та_відновлення_електропостачання.pdf" target="_blank") Порядок припинення та відновлення електропостачання
							li
								a(href="assets/pdf/electro/Способи_та_порядок_оплати_за_спожиту_електричну_енергію.docx" target="_blank") Способи та порядок оплати за спожиту електричну енергію

	include include/footer.pug
	include include/bottom.pug