include include/head.html 

<body>
	include include/preloader.html
	- const pagename = "electro"
	include include/header.pug
	<main>
		<!--? Hero Start -->
		<div class="slider-area2 section-bg2" data-background="assets/img/hero/hero7.png">
			<div class="slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap hero-cap2 text-center">
								<h2>Електроенергія</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero End -->
		<!--?  Electro Area start  -->
		<section class="electro-section">
			<div class="container">

				<div class="row">
					<div class="col-12">
						<h2 class="electro-title">Електроенергія</h2>
					</div>
					<div class="col-lg-8">
					
						<ul class="unordered-list">
							<li>Fta Keys</li>
							<li>For Women Only Your Computer Usage</li>
							<li>Facts Why Inkjet Printing Is Very Appealing
								<ul>
									<li>Addiction When Gambling Becomes
										<ul>
											<li>Protective Preventative Maintenance</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>Dealing With Technical Support 10 Useful Tips</li>
							<li>Make Myspace Your Best Designed Space</li>
							<li>Cleaning And Organizing Your Computer</li>
						</ul>
						</div>

				</div>
			</div>
		</section>
		<!-- Electro Area End -->
	</main>

	include include/footer.html 
	include include/bottom.html

	</body>
</html>