include include/head.pug

body
	include include/preloader.pug
	- const pagename = "gaz"
	include include/header.pug

	main
		// Hero Start
		.slider-area2.section-bg2(data-background="assets/img/hero/hero4.jpg")
			.slider-height2.d-flex.align-items-center
				.container
					.row
						.col-xl-12
							.hero-cap.hero-cap2.text-center
								h2 Газ

		// Electro Area start
		section.electro-section
			.container
				.row
					.col-12
						h3 Нормативні документи:
						ul.unordered-list
							li
								a(href="https://zakon.rada.gov.ua/laws/show/329-19" target="_blank") Закон України «Про ринок природного газу»
							li
								a(href="https://zakon.rada.gov.ua/laws/show/1540-19#Text" target="_blank") Закон України Про Національну комісію, що здійснює державне регулювання у сферах енергетики та комунальних послуг
							li
								a(href="https://zakon.rada.gov.ua/laws/show/z1382-15" target="_blank") Постанова від 30.09.2015 № 2496 Про затвердження Правил постачання природного газу
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v0201874-17#Text" target="_blank") Постанова НКРЕКП від 16.02.2017 № 201 Про затвердження Ліцензійних умов провадження господарської діяльності на ринку природного газу
							li
								a(href="https://zakon.rada.gov.ua/laws/show/v1156874-17#Text" target="_blank") Постанова НКРЕКП від 21.09.2017 №1156 Про затвердження Мінімальних стандартів та вимог до якості обслуговування споживачів та постачання природного газу
							li
								a(href="https://zakon.rada.gov.ua/laws/show/z1378-15" target="_blank") Постанова від 30.09.2015 № 2493 Про затвердження Кодексу газотранспортної системи
							li
								a(href="https://zakon.rada.gov.ua/laws/show/z1379-15" target="_blank") Постанова від 30.09.2015 № 2494 Про затвердження Кодексу газорозподільних систем
							li
								a(href="https://www.nerc.gov.ua/sferi-diyalnosti/prirodnij-gaz/pobutovi-spozhivachi/ukladennya-dogovoriv-pobutovimi-spozhivachami/ukladannya-dogovoru-z-postachannya-prirodnogo-gazu" target="_blank") Порядок укладання договору з постачання природного газу
							li
								a(href="https://zakon.rada.gov.ua/laws/show/922-19#Text" target="_blank") Закон України від 25.12.2015 № 922-VIII Про публічні закупівлі

	include include/footer.pug
	include include/bottom.pug