include include/head.html 

<body>
	include include/preloader.html
	- const pagename = "gaz"
	include include/header.pug
	<main>
		<!--? Hero Start -->
		<div class="slider-area2 section-bg2" data-background="assets/img/hero/hero4.jpg">
			<div class="slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap hero-cap2 text-center">
								<h2>Газ</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero End -->
		<!--?  Electro Area start  -->
		<section class="electro-section">
			<div class="container">

				<div class="row">

					<div class="col-12">
						<h3>Нормативні документи:</h3>
						<ul class="unordered-list">
							<li><a href="https://zakon.rada.gov.ua/laws/show/329-19" target="_blank">Закон України «Про ринок природного газу»</a></li>
							<li><a href="https://zakon.rada.gov.ua/laws/show/z1382-15" target="_blank">Правила постачання природного газу</a></li>
							<li><a href="https://zakon.rada.gov.ua/laws/show/z1379-15" target="_blank">Кодекс газорозподільних систем</a></li>
							<li><a href="https://zakon.rada.gov.ua/laws/show/v1156874-17" target="_blank">Мінімальні стандарти та вимоги до якості обслуговування споживачів та постачання природного газу</a></li>
							<li><a href="https://zakon.rada.gov.ua/laws/show/z1378-15" target="_blank">Кодекс газотранспортної системи</a></li>
							<li><a href="https://www.nerc.gov.ua/sferi-diyalnosti/prirodnij-gaz/spozhivachi-yaki-ne-ye-pobutovimi/prava-ta-obovyazki-operatora-gazotransportnoyi-sistemi" target="_blank">Права та обов’язки оператора газотранспортної системи</a></li>
							<li><a href="https://zakon0.rada.gov.ua/laws/show/922-19" target="_blank">Закон України «Про публічні закупівлі»</a></li>
						</ul>
						<h3>Договір про постачання природного газу</h3>
						<ul class="unordered-list">
							<li><a href="assets/pdf/ДОГОВІР_ПОСТАЧАННЯ_ГАЗУ_СПОЖИВАЧУ.pdf" target="_blank">Договір про постачання природного газу</a></li>
							<li><a href="assets/pdf/Графік постачання газу та замовлення (бронювання) потужності.pdf" target="_blank">Графік постачання газу та замовлення (бронювання) потужності</a></li>
						</ul>
						<h3>Інформація для споживачів</h3>
						<ul class="unordered-list">
							<li><a href="assets/pdf/ПРАВА ТА ОБОВ’ЯЗКИ СПОЖИВАЧА І ПОСТАЧАЛЬНИКА ПРИРОДНОГО ГАЗУ.pdf" target="_blank">Права і обов’язки постачальника і споживача природного газу</a></li>
							<li><a href="assets/pdf/УМОВИ ПОСТАЧАННЯ НА ПРИРОДНИЙ ГАЗ.pdf" target="_blank">Загальні умови постачання природного газу</a></li>
							<li><a href="assets/pdf/Процедура вирішення спорів.pdf" target="_blank">Порядок вирішення спорів</a></li>
						</ul>
					</div>

				</div>
			</div>
		</section>
		<!-- Electro Area End -->
	</main>

	include include/footer.html 
	include include/bottom.html

	</body>
</html>