include include/head.html 

<body>
	include include/preloader.html 
	- const pagename = "index"
	include include/header.pug 

	<main>
		<!-- slider Area Start-->
		<div class="slider-area position-relative">
			<div class="slider-active">
				<!-- Single Slider -->
				<div class="single-slider slider-height d-flex align-items-center">
					<div class="container">
						<div class="row">
							<div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
								<div class="hero__caption">
									//- img(src="assets/img/logo/logo-text.svg" alt="logo" data-animation="fadeInLeft" data-delay="0.4s")
									//- <h1 data-animation="fadeInLeft" data-delay="0.4s"><span class="h1-color1">Твій</span><span  class="h1-color2">Енерго</span><span class="h1-color3">Постачальник</span></h1>
									<h1 data-animation="fadeInLeft" data-delay="0.4s">«досвід кращих - доступний кожному!»</h1>
									//- <p data-animation="fadeInLeft" data-delay="0.6s">твій енергопостачальник</p>
									<a href="index.html#about" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.8s">Детальніше<i class="ti-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Single Slider -->
				<div class="single-slider slider-height d-flex align-items-center">
					<div class="container">
						<div class="row">
							<div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
								<div class="hero__caption">
									<h2 data-animation="fadeInLeft" data-delay="0.4s">гнучка та цілком зрозуміла тарифікація кожної квт·год, в якій ваш графік - інструмент, а не клопіт.</h2>
									//- <p data-animation="fadeInLeft" data-delay="0.4s">The right candidate may exist, but talented people</p>
									<a href="electro.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.6s">Докладніше<i class="ti-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Single Slider -->
				<div class="single-slider slider-height d-flex align-items-center">
					<div class="container">
						<div class="row">
							<div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
								<div class="hero__caption">
									<h2 data-animation="fadeInLeft" data-delay="0.4s">енергетичні ресурси без будь-яких обмежень.</h2>
									//- <p data-animation="fadeInLeft" data-delay="0.4s">The right candidate may exist, but talented people</p>
									<a href="gaz.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.6s">Докладніше<i class="ti-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Video icon -->
			//- <div class="video-icon">
			//- 	<a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=3z6VFKN7La4" data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
			//- </div>
			<div class="about-offset" id="about"></div>
		</div>
		<!-- slider Area End-->
		<!--? About 1 Start-->

		<section class="about-area section-padding40">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-8">
						<div class="section-tittle text-center mb-100">
							<span class="element">Про нас</span>
							<h2>Клієнт - найвища цінність! Працюємо заради Вас!</h2>
						</div>
					</div>
				</div>

				<div class="row mb-4">
					<div class="col-sm-6 offset-sm-6">
						<h3 class="h3-color1 wow zoomInRight" data-wow-delay="0.2s">Досвід кращих!</h3>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<p>Кожен пункт співробітництва - це наша репутація</p>
					</div>
					<div class="col-sm-6 wow zoomInRight" data-wow-delay="0.4s">
						<span class="slogan">Надійний</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 ">
						<p>Жодних загадок на папері - говоримо на одній мові</p>
					</div>
					<div class="col-sm-6 wow zoomInRight" data-wow-delay="0.6s"">
						<span class="slogan">Чесний</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 ">
						<p>Оперуємо знанням ринку, а не обіцянками</p>
					</div>
					<div class="col-sm-6 wow zoomInRight" data-wow-delay="0.8s">
						<span class="slogan">Досвідчений</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 ">
						<p>Аналізуємо ринок 24/7 та оперативно реагуємо</p>
					</div>
					<div class="col-sm-6 wow zoomInRight" data-wow-delay="1s">
						<span class="slogan">Швидкий</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 offset-sm-6 mt-4">
						<h3 class="h3-color2 wow zoomInRight" data-wow-delay="1.2s">ТОВ</h3>
						<h3 class="h3-color3 wow zoomInRight" data-wow-delay="1.4s">"Комтрейденерджи"</h3>
					</div>
				</div>


			</div>
		</section>

		//- <section class="about-low-area section-padding40">
		//- 	<div class="container">
		//- 		<div class="row justify-content-between">
		//- 			<div class="col-xl-6 col-lg-6 col-md-10">
		//- 				<div class="about-caption mb-50">
		//- 					<!-- Section Tittle -->
		//- 					<div class="section-tittle mb-35">
		//- 						<span class="element">Про нас</span>
		//- 						<h2>У нас є всі ваші потреби</h2>
		//- 					</div>
		//- 					<p>Наша компанія є провідним постачальником електроенергії та природного газу з розгалуженою роздрібною мережею споживачів по всій Україні та пулом оптових клієнтів – лідерів в металургійній, машинобудівній, хімічній та легкій галузях промисловості. Досвід кращих - доступний кожному!</p>
		//- 				</div>
		//- 				<div class="row">
		//- 					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
		//- 						<div class="experience">
		//- 							<span>454</span>
		//- 							<p>Поставлено енергії, МВт/г</p>
		//- 						</div>
		//- 					</div>
		//- 					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
		//- 						<div class="experience">
		//- 							<span>27</span>
		//- 							<p>Охоплені регіони</p>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-xl-5 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
		//- 				<div class="about-right-cap">
		//- 					<div class="about-right-img">
		//- 						<img src="assets/img/gallery/about1.jpg" alt="">
		//- 					</div>
		//- 					<div class="img-cap">
		//- 						<span>0</span>
		//- 						<p>Багаторічний досвід роботи</p>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </section>
		<!-- About  End-->
		<!--? Gallery Area Start -->
		//- <div class="gallery-area">
		//- 	<div class="container-fluid p-0 fix">
		//- 		<div class="row no-gutters">
		//- 			<div class="col-xl-4 col-lg-4 col-md-6">
		//- 				<div class="single-gallery text-center">
		//- 					<div class="gallery-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
		//- 					<div class="thumb-content-box">
		//- 						<div class="thumb-content">
		//- 							<h3>Mechanical Engineering</h3>
		//- 							<p>We collect and analyze information about your general usage of the website, products, services.</p>
		//- 							<a href="services.html">Learn More</a>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-xl-4 col-lg-4 col-md-6">
		//- 				<div class="single-gallery no-margin text-center">
		//- 					<div class="gallery-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
		//- 					<div class="thumb-content-box">
		//- 						<div class="thumb-content">
		//- 							<h3>Mechanical Engineering</h3>
		//- 							<p>We collect and analyze information about your general usage of the website, products, services.</p>
		//- 							<a href="services.html">Learn More</a>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-xl-4 col-lg-4 col-md-6">
		//- 				<div class="single-gallery text-center">
		//- 					<div class="gallery-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
		//- 					<div class="thumb-content-box">
		//- 						<div class="thumb-content">
		//- 							<h3>Mechanical Engineering</h3>
		//- 							<p>We collect and analyze information about your general usage of the website, products, services.</p>
		//- 							<a href="services.html">Learn More</a>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </div>
		<!-- Gallery Area End -->
		<!--? Categories Area Start -->
		//- <div class="categories-area section-padding40 gray-bg">
		//- 	<div class="container">
		//- 		<div class="row justify-content-center">
		//- 			<div class="col-xl-7 col-lg-8">
		//- 				<div class="section-tittle text-center mb-100">
		//- 					<span class="element">Переваги</span>
		//- 					<h2>Бізнес, створений для клієнта</h2>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 		<div class="row">
		//- 			<div class="col-lg-3 col-md-6 col-sm-6">
		//- 				<div class="single-cat">
		//- 					<div class="cat-icon">
		//- 						<img src="assets/img/gallery/icon1.png" alt="">
		//- 					</div>
		//- 					<div class="cat-cap">
		//- 						<h5>Нижча ціна</h5>
		//- 						<p>Маємо можливість продавати електроенергію зі знижкою</p>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-3 col-md-6 col-sm-6">
		//- 				<div class="single-cat">
		//- 					<div class="cat-icon">
		//- 						<img src="assets/img/gallery/icon2.png" alt="">
		//- 					</div>
		//- 					<div class="cat-cap">
		//- 						<h5>Знижки</h5>
		//- 						<p>Ми розраховуємо індивідуальну знижку для кожного клієнта</p>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-3 col-md-6 col-sm-6">
		//- 				<div class="single-cat">
		//- 					<div class="cat-icon">
		//- 						<img src="assets/img/gallery/icon3.png" alt="">
		//- 					</div>
		//- 					<div class="cat-cap">
		//- 						<h5>Під ключ</h5>
		//- 						<p>Ми здійснюємо поставку електроенергії «під ключ», готуємо всі необхідні документи</p>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-3 col-md-6 col-sm-6">
		//- 				<div class="single-cat">
		//- 					<div class="cat-icon">
		//- 						<img src="assets/img/gallery/icon4.png" alt="">
		//- 					</div>
		//- 					<div class="cat-cap">
		//- 						<h5>Якість</h5>
		//- 						<p>We collect and analyze information about your general usage of the website, products, services, and courses.</p>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </div>
		<!-- cat End -->
		<!-- Services Area start -->
		//- <div class="service-area section-bg" data-background="assets/img/gallery/section_bg01.png">
		//- 	<div class="container">
		//- 		<div class="row align-items-end no-gutters">
		//- 			<div class="col-lg-4 col-md-6 col-sm-12">
		//- 				<div class="single-main position-relative">
		//- 					<div class="single-wrapper active">
		//- 						<div class="single-services ">
		//- 							<span>01.</span>
		//- 							<h4>Building Yead</h4>
		//- 							<p>We collect and analyze information about your general usage of the website to the products services and courses.</p>
		//- 						</div>
		//- 						<div class="services-btn">
		//- 							<a href="project.html">View More</a>
		//- 						</div>
		//- 					</div>
		//- 					<span class="transparrent-btn active position-absolute">02. Meghna Bridge</span>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-4 col-md-6 col-sm-12">
		//- 				<div class="single-main position-relative ">
		//- 					<div class="single-wrapper hide">
		//- 						<div class="single-services ">
		//- 							<span>02.</span>
		//- 							<h4>Meghna Bridge</h4>
		//- 							<p>We collect and analyze information about your general usage of the website to the products services and courses.</p>
		//- 						</div>
		//- 						<div class="services-btn">
		//- 							<a href="project.html">View More</a>
		//- 						</div>
		//- 					</div>
		//- 					<span class="transparrent-btn position-absolute">02. Meghna Bridge</span>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-4 col-md-6 col-sm-12">
		//- 				<div class="single-main position-relative">
		//- 					<div class="single-wrapper hide">
		//- 						<div class="single-services ">
		//- 							<span>03.</span>
		//- 							<h4>Kalis Vadru</h4>
		//- 							<p>We collect and analyze information about your general usage of the website to the products services and courses.</p>
		//- 						</div>
		//- 						<div class="services-btn">
		//- 							<a href="project.html">View More</a>
		//- 						</div>
		//- 					</div>
		//- 					<span class="transparrent-btn position-absolute">03. Kalis Vadru</span>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </div>
		<!-- Services Area End -->
		<!-- Want To work -->
		//- <section class="wantToWork-area gray-bg ">
		//- 	<div class="container">
		//- 		<div class="wants-wrapper w-padding2">
		//- 			<div class="row align-items-center justify-content-between">
		//- 				<div class="col-xl-8 col-lg-9 col-md-8">
		//- 					<div class="wantToWork-caption wantToWork-caption2">
		//- 						<h2>Up to 40% Off</h2>
		//- 						<p>We collect and analyze information about your general usage of the website, products, services, and courses.</p>
		//- 					</div>
		//- 				</div>
		//- 				<div class="col-xl-2 col-lg-3 col-md-4">
		//- 					<a href="#" class="btn w-btn wantToWork-btn">Learn More <i class="ti-arrow-right"></i></a>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </section>
		<!-- Want To work End -->
		<!-- Contact form Start -->
		//- <div class="contact-form testimonial-area section-padding40 mb-40">
		//- 	<div class="container">
		//- 		<!-- Section Tittle -->
		//- 		<div class="row justify-content-center">
		//- 			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
		//- 				<div class="section-tittle text-center mb-100">
		//- 					<span class="element">Testimonial</span>
		//- 					<h2>Some amazing words from our clients</h2>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 		<div class="row no-gutters">
		//- 			<div class="col-lg-6 col-md-12">
		//- 				<!-- Testimonial Start -->
		//- 				<div class="h1-testimonial-active">
		//- 					<!-- Single Testimonial -->
		//- 					<div class="single-testimonial">
		//- 						<div class="testimonial-caption">
		//- 							<p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through.</p>
		//- 							<div class="rattiong-caption">
		//- 								<span>- Micky Mouse,<span>Business Man</span> </span>
		//- 							</div>
		//- 						</div>
		//- 					</div>
		//- 					<!-- Single Testimonial -->
		//- 					<div class="single-testimonial">
		//- 						<div class="testimonial-caption">
		//- 							<p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through.</p>
		//- 							<div class="rattiong-caption">
		//- 								<span>- Micky Mouse,<span>Business Man</span> </span>
		//- 							</div>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-6 col-md-12">
		//- 				<!-- slider -->
		//- 				<div class="single-man-slider">
		//- 					<div class="man-slider-active">
		//- 						<div class="single-mam-img">
		//- 							<img src="assets/img/gallery/man1.png" alt="">
		//- 						</div>
		//- 						<div class="single-mam-img">
		//- 							<img src="assets/img/gallery/man1.png" alt="">
		//- 						</div>
		//- 						<div class="single-mam-img">
		//- 							<img src="assets/img/gallery/man1.png" alt="">
		//- 						</div>
		//- 						<div class="single-mam-img">
		//- 							<img src="assets/img/gallery/man1.png" alt="">
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-6 col-md-12">
		//- 				<!-- galary -->
		//- 				<div class="single-gallery">
		//- 					<div class="gallery-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
		//- 					<div class="thumb-content-box">
		//- 						<div class="thumb-content">
		//- 							<h3><a href="#">Need to make<br> an enquiry?</a></h3>
		//- 							<p>We collect and analyze information about your general usage of the website products.</p>
		//- 							<a href="services.html">Learn More</a>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-6 col-md-12">
		//- 				<!-- contact-form -->
		//- 				<div class="form-wrapper">
		//- 					<div class="row ">
		//- 						<div class="col-xl-12">
		//- 							<div class="section-tittle section-tittle2 mb-30">
		//- 								<h2>Drop your message</h2>
		//- 							</div>
		//- 						</div>
		//- 					</div>
		//- 					<form id="contact-form" action="#" method="POST">
		//- 						<div class="row">
		//- 							<div class="col-lg-12 col-md-6">
		//- 								<div class="form-box user-icon mb-15">
		//- 									<input type="text" name="name" placeholder="Your Name">
		//- 								</div>
		//- 							</div>
		//- 							<div class="col-lg-12 col-md-6">
		//- 								<div class="form-box email-icon mb-15">
		//- 									<input type="text" name="email" placeholder="Email">
		//- 								</div>
		//- 							</div>
		//- 							<div class="col-lg-12 col-md-6">
		//- 								<div class="form-box email-icon mb-15">
		//- 									<input type="text" name="email" placeholder="Phone no.">
		//- 								</div>
		//- 							</div>
		//- 							<div class="col-lg-12 col-md-6 mb-15">
		//- 								<div class="select-itms">
		//- 									<select name="select" id="select2">
		//- 										<option value="">Topic</option>
		//- 										<option value="">Topic one</option>
		//- 										<option value="">Topic Two</option>
		//- 										<option value="">Topic Three</option>
		//- 									</select>
		//- 								</div>
		//- 							</div>
		//- 							<div class="col-lg-12">
		//- 								<div class="form-box message-icon mb-15">
		//- 									<textarea name="message" id="message" placeholder="Message"></textarea>
		//- 								</div>
		//- 								<div class="submit-info">
		//- 									<button class="submit-btn2" type="submit">Send Message</button>
		//- 								</div>
		//- 							</div>
		//- 						</div>
		//- 					</form>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </div>
		<!-- Contact form End -->
		<!--? Blog Area Start -->
		//- <section class="home-blog-area pb-bottom">
		//- 	<div class="container">
		//- 		<div class="row">
		//- 			<div class="col-lg-4 col-md-6">
		//- 				<div class="section-tittle mb-100">
		//- 					<span class="element">From News</span>
		//- 					<h2>News & Media center</h2>
		//- 					<p>We collect and analyze information about your general usage of the website products services and courses.</p>
		//- 					<a href="blog_details.html" class="all-btn">View All</a>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-4 col-md-6">
		//- 				<div class="home-blog-single mb-30">
		//- 					<div class="blog-img-cap">
		//- 						<div class="blog-img">
		//- 							<img src="assets/img/gallery/home-blog1.png" alt="">
		//- 						</div>
		//- 						<div class="blog-cap">
		//- 							<p>22 Apr 2020</p>
		//- 							<h3><a href="blog_details.html">We might track your usage patterns to see</a></h3>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 			<div class="col-lg-4 col-md-6">
		//- 				<div class="home-blog-single mb-30">
		//- 					<div class="blog-img-cap">
		//- 						<div class="blog-img">
		//- 							<img src="assets/img/gallery/home-blog2.png" alt="">
		//- 						</div>
		//- 						<div class="blog-cap">
		//- 							<p>22 Apr 2020</p>
		//- 							<h3><a href="blog_details.html">The massive stadium screens at the MCG</a></h3>
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </section>
		<!-- Blog Area End -->

		<section class="energo-services section-padding40">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-8">
						<div class="section-tittle text-center mb-100">
							<span class="element">Переваги</span>
							<h2>Бізнес, створений для клієнта</h2>
						</div>
					</div>
				</div>

				<div class="row mb-90"> 
					<div class="col-lg-6 order-lg-last">
						<div class="energo-services-img">
							<img src="assets/img/gallery/electro02.jpg" alt="Електроенергія">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="energo-services-cap">
							<a href="electro.html" class="btn w-btn">Купити електроенергію<i class="ti-arrow-right"></i></a>
							<h3>МВт має свою ціну, та клієнт дорожчий!</h3>
							<p class="mb-30">Кожний підписаний договір - це оптимальна схема співпраці, в якій клієнт завжди має рацію!</p>
							<p class="mb-30">|Мінімізація небалансів, юридичний супровід чи навіть розрахунок поточної потреби в електроенергії!</p>
						</div>
					</div>
				</div>


				<div class="row"> 
					<div class="col-lg-6">
						<div class="energo-services-img">
							<img src="assets/img/gallery/gaz02.jpg" alt="Газ">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="energo-services-cap">
							<a href="gaz.html" class="btn w-btn">Купити газ<i class="ti-arrow-right"></i></a>
							<h3>Прозорий ресурс за прозорою ціною</h3>
							<p class="mb-30">Найкращі умови придбання від ліцензованого постачальника природного газу по всій території України!</p>
						</div>
					</div>
				</div>

			</div>
		</section>

		

		<!-- Want To work 2-->
		//- <section class="wantToWork-area">
		//- 	<div class="container">
		//- 		<div class="wants-wrapper w-padding3">
		//- 			<div class="row align-items-center justify-content-between">
		//- 				<div class="col-xl-3 col-lg-3 col-md-3">
		//- 					<div class="wantToWork-caption wantToWork-caption2">
		//- 						<div class="logo">
		//- 							<img src="assets/img/logo/logo.svg" alt="">
		//- 						</div>
		//- 					</div>
		//- 				</div>
		//- 				<div class="col-xl-8 col-lg-8 col-md-8">
		//- 					<div class="double-btn f-right ">
		//- 						<a href="#" class="btn w-btn wantToWork-btn mr-20">Детальніше<i class="ti-arrow-right"></i></a>
		//- 						<a href="#" class="btn2 w-btn wantToWork-btn">Детальніше<i class="ti-arrow-right"></i></a>
		//- 					</div>
		//- 				</div>
		//- 			</div>
		//- 		</div>
		//- 	</div>
		//- </section>
		<!-- Want To work End 2-->
	</main>

	include include/footer.html 
	include include/bottom.html

</body>

</html>