include include/head.pug

body
	include include/preloader.pug
	- const pagename = "index"
	include include/header.pug

	main
		// slider Area Start
		.slider-area.position-relative
			.slider-active
				// Single Slider
				.single-slider.slider-height.d-flex.align-items-center
					.container
						.row
							.col-xl-7.col-lg-9.col-md-8.col-sm-9
								.hero__caption
									h1(data-animation="fadeInLeft" data-delay="0.4s") З нами завжди світліше, бо "нести" світло є нашою місією!
									a.btn.hero-btn(href="index.html#about" data-animation="fadeInLeft" data-delay="0.8s") Детальніше
										i.ti-arrow-right
				// Single Slider
				.single-slider.slider-height.d-flex.align-items-center
					.container
						.row
							.col-xl-7.col-lg-9.col-md-8.col-sm-9
								.hero__caption
									h2(data-animation="fadeInLeft" data-delay="0.4s") Працювати з нами завжди просто, швидко та комфортно.
									a.btn.hero-btn(href="electro.html" data-animation="fadeInLeft" data-delay="0.6s") Докладніше
										i.ti-arrow-right
				// Single Slider
				.single-slider.slider-height.d-flex.align-items-center
					.container
						.row
							.col-xl-7.col-lg-9.col-md-8.col-sm-9
								.hero__caption
									h2(data-animation="fadeInLeft" data-delay="0.4s") Клієнт то найвища цінність! І саме це визначає основні принципи нашої роботи.
									a.btn.hero-btn(href="gaz.html" data-animation="fadeInLeft" data-delay="0.6s") Докладніше
										i.ti-arrow-right
			.about-offset#about

		// About 1 Start
		section.about-area.section-padding40
			.container
				.row.justify-content-center
					.col-xl-7.col-lg-8
						.section-tittle.text-center.mb-100
							span.element Про нас
							h2 Клієнт - найвища цінність! Працюємо заради Вас!

				.row.justify-content-center.mb-4
					.col
						h3.h3-color1.text-center.wow.zoomInRight(data-wow-delay="0.2s") Досвід кращих!

				.row
					.col-sm-6.col-12.d-flex.justify-content-center.align-items-center
						img.img-fluid(src="assets/img/gallery/about.jpg" alt="" style="max-width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);")
					.col-sm-6.col-12
						.row.my-4
							.col-sm-6.wow.zoomInRight(data-wow-delay="0.4s")
								span.slogan Надійний
						.row.my-4
							.col-sm-6.wow.zoomInRight(data-wow-delay="0.6s")
								span.slogan Чесний
						.row.my-4
							.col-sm-6.wow.zoomInRight(data-wow-delay="0.8s")
								span.slogan Досвідчений
						.row.my-4
							.col-sm-6.wow.zoomInRight(data-wow-delay="1s")
								span.slogan Швидкий

				.row.justify-content-center
					.col.mt-4
						h3.h3-color2.text-center.wow.zoomInRight(data-wow-delay="1.2s") ТОВ "КомТрейд Енерджи"

		// Energo Services
		section.energo-services.section-padding40
			.container
				.row.justify-content-center
					.col-xl-7.col-lg-8
						.section-tittle.text-center.mb-100
							span.element Переваги
							h2 Бізнес, створений для клієнта

				.row.mb-90
					.col-lg-6.order-lg-last
						.energo-services-img
							img(src="assets/img/gallery/electro02.jpg" alt="Електроенергія")
					.col-lg-6
						.energo-services-cap
							a.btn.w-btn(href="electro.html") Купити електроенергію
								i.ti-arrow-right
							h3 МВт має свою ціну, та клієнт дорожчий!
							p.mb-30 Кожний підписаний договір - це оптимальна схема співпраці, в якій клієнт завжди має рацію!
							p.mb-30 |Мінімізація небалансів, юридичний супровід чи навіть розрахунок поточної потреби в електроенергії!

				.row
					.col-lg-6
						.energo-services-img
							img(src="assets/img/gallery/gaz02.jpg" alt="Газ")
					.col-lg-6
						.energo-services-cap
							a.btn.w-btn(href="gaz.html") Купити газ
								i.ti-arrow-right
							h3 Прозорий ресурс за прозорою ціною
							p.mb-30 Найкращі умови придбання від ліцензованого постачальника природного газу по всій території України!

	include include/footer.pug
	include include/bottom.pug