/*-------------   Color Variable  --------------*/

$base-color: #11840d;
$accent-color: #efbf0f;
$contrast-color: #225db4;

//Colors
$white: #ffffff;
$black: #16161a;
$gray: #f7f7fd;

//Theme color
// $theme-color: #FF3514;
$theme-color: #fe5000;
$theme-color: $accent-color;
// $theme-color2: #140c40;
$theme-color2: $base-color;
$theme-color3: #f27420;
$theme-color4: #ff3500;

// btn and Section color
$btn_bg: #09cc7f;

// Heading color
// $heading-color: #072366;
$heading-color: $contrast-color;
$heading_color2: #080808;
$heading_color3: darken(#11840d, 10%);
$heading_color3: $contrast-color;


// Body Font
$body-text-color: #6b7894;
$hr-border-color: #eceff8;



// Section Bg
$section_bg1: #454545;


.white-bg {
	background: #ffffff;
}

.gray-bg {
	background: #F5F9FB;
}

$gray-color: #bebebe;
$gray-color-2: #bdbdbd;


// font color
// $font_color1: #10285d;
$font_color1: $base-color;
$border_color: #fdcb9e;


// bg
$brand-bg: #f1f4fa;
$testimonial-bg: #f9fafc;



/*-------------Color include--------------*/


/*-- Background color---*/

.gray-bg {
	background: $gray;
}

.white-bg {
	background: $white;
}

.black-bg {
	background: $black;
}

.theme-bg {
	background: $theme-color;
}

.brand-bg {
	background: $brand-bg;
}

.testimonial-bg {
	background: $testimonial-bg;
}


/*--- color------*/
.white-color {
	color: $white;
}

.black-color {
	color: $black;
}

.theme-color {
	color: $theme-color;
}