.electro-section {
	padding: 100px 0 100px;

	@media #{$tab} {
		padding: 70px 0 40px;
	}

	@media #{$medium_device} {
		padding: 80px 0 50px;
	}

	a {
		color: #3B4855;

		&:hover {
			color: #fe5000;
			padding-left: 5px;
		}

	}

	h3 {
		margin-bottom: 20px;
		margin-top: 30px;
		color: #fe5000;
		font-size: 20px;
	}

}

.energo-services {
	margin-top: 100px;
	margin-bottom: 100px;

	&-img {
		padding-top: 62.5%;
		position: relative;
		height: 100%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&-cap {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		align-items: start;

		.btn {
			margin-top: auto;
			margin-bottom: 20px;
			min-width: 300px;
		}


		h3 {
			font-size: 20px;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}