// Search model Begin
.search-model-box
  .h-100.d-flex.align-items-center.justify-content-center
    .search-close-btn +
    form.search-model-form
      input#search-input(type="text" placeholder="Пошук.....")

// Scroll Up
#back-top
  a(title="Повернутися до початку" href="#")
    i.fas.fa-level-up-alt

// JS here
script(src="./assets/js/vendor/modernizr-3.5.0.min.js")
// Jquery, Popper, Bootstrap
script(src="./assets/js/vendor/jquery-1.12.4.min.js")
script(src="./assets/js/popper.min.js")
script(src="./assets/js/bootstrap.min.js")
// Jquery Mobile Menu
script(src="./assets/js/jquery.slicknav.min.js")
// Jquery Slick Plugin
script(src="./assets/js/slick.min.js")
// One Page, Animated-HeadLin
script(src="./assets/js/wow.min.js")
// contact js
script(src="./assets/js/contact.min.js")
script(src="./assets/js/jquery.form.js")
script(src="./assets/js/jquery.validate.min.js")
// Jquery Plugins, main Jquery
script(src="./assets/js/plugins.min.js")
script(src="./assets/js/main.min.js")