footer
	// Footer Start
	.footer-area.footer-padding
		.container
			.row.d-flex.justify-content-between
				.col-xl-4.col-lg-4.col-md-12.col-sm-12
					.single-footer-caption.mb-50
						.footer-tittle
							a(href="index.html")
								.logo
									img(src="assets/img/logo/logo.svg" alt="logo")
							ul
								li
									a(href="https://play.google.com/store/apps/details?id=com.energyonline&hl=uk" target="_blank")
										img(src="assets/img/elements/playstore.png" alt="PlayStore")
										span EnergyOnline в Google Play
								li
									a(href="https://apps.apple.com/ua/app/energyonline/id1441399796?l=uk" target="_blank")
										img(src="assets/img/elements/appstore.png" alt="AppStore")
										span EnergyOnline в App Store

				.col-xl-2.col-lg-2.col-md-6.col-sm-6
					.single-footer-caption.mb-50
						.footer-tittle
							h4 Компанія
							ul
								li
									a(href="index.html#about") Про нас
								li
									a(href="index.html") Огляд
								li
									a(href="https://my.tviy.energy") Особистий кабінет

				.col-xl-2.col-lg-2.col-md-6.col-sm-6
					.single-footer-caption.mb-50
						.footer-tittle
							h4 Енергія
							ul
								li
									a(href="electro.html") Електроенергія
								li
									a(href="gaz.html") Газ

				.col-xl-4.col-lg-4.col-md-12.col-sm-12
					.single-footer-caption.mb-50
						.footer-tittle
							h4 Контакти
							.footer-pera
								p.info1 Адреса: 02105, м. Київ, проспект Миру, буд. 15А, офіс 104
									br
									| Режим роботи: пн-пт з 09:00 до 18:00
						.footer-number
							p Тел: 
								a(href="tel:+380953336129") +38 (075) 411 22 04
							p Email: 
								a(href="mailto:comtrade.energy.llc@gmail.com") comtrade.energy.llc@gmail.com

	// footer-bottom area
	.footer-bottom-area
		.container
			.footer-border
				.row.d-flex.justify-content-between.align-items-center
					.col-xl-9.col-lg-8
						.footer-copy-right
							p Copyright © 2025 
								a(href="index.html") ТОВ "КомТрейд Енерджи"
					.col-xl-3.col-lg-4
						// Footer Social
						.footer-social.f-right.mr-100
							a(href="#")
								i.fab.fa-twitter
							a(href="#")
								i.fab.fa-facebook-f
							a(href="#")
								i.fas.fa-globe
							a(href="#")
								i.fab.fa-instagram