header
	// Header Start
	.header-area
		.main-header
			.header-top
				.container
					.col-xl-12
						.row.d-flex.justify-content-md-between.justify-content-end.align-items-center
							.header-info-left.d-none.d-md-block
								ul
									li
										i.fas.fa-phone
										| +38 (075) 411 22 04
									li
										i.far.fa-envelope
										| comtrade.energy.llc@gmail.com
							.header-info-right
								a.btn(href="https://my.tviy.energy")
									| Особистий кабінет
									i.ti-arrow-right

			.header-bottom.header-sticky
				.container
					.row.align-items-center
						// Logo
						.col-xl-4.col-lg-4
							.logo
								a(href="index.html")
									img(src="assets/img/logo/logo.svg" alt="logo")
						.col-xl-7.col-lg-6
							.menu-wrapper.d-flex.align-items-center
								// Main-menu
								.main-menu.d-none.d-lg-block
									nav
										ul#navigation
											li
												a(href="index.html") Головна
											li
												a(href="electro.html") Електроенергія
											li
												a(href="gaz.html") Газ
											li
												a(href="contact.html") Контакти
						.col-xl-1.col-lg-2
							// Search Box
							.search.d-none.d-lg-block
								ul
									li
										.nav-search.search-switch
											span.fas.fa-search
						// Mobile Menu
						.col-12
							.mobile_menu.d-block.d-lg-none